* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
}
ul, ol {
  list-style: none;
}
input, button, textarea, select {
  font-family: inherit;
}

button {
  cursor: pointer;
}

nav {
    background-color: #fff;
}

nav .container1 {
    display: flex;
    justify-content: space-between;
}

.container_link{
    display: flex;
    flex-direction: row;
    gap: 10px 40px;
}
