* {
  /* Xóa margin, padding và border mặc định */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
input,
button,
textarea,
select {
  font-family: inherit;
}
button {
  cursor: pointer;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    background-color: rgb(54, 18, 18)
}
.logo1{
    text-decoration: none;
    color: black;
    font-weight:bolder;
    font-size:30px;
}
.menu1{
    list-style-type: none;
    display: flex;  
    font-size:smaller;  
}

.menu1 li a{
    text-decoration: none;
    padding-right: 30px;
    color:#ffffff;
    font-weight: bold;
    transition: 0.3s ease;

}
.menu1 li a:hover{
    color: #E98F45;




}
.SignUp button{
    background-color: rgb(189, 189, 26);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    transition:background-color 0.3s ease;
}

.search button:hover{
    background-color: rgb(72, 68, 68);
}
.search span{
    padding:0 10px;
}


.content{
    padding-top:80px;
}
.content1{
    padding: 7%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("coffee_image2.png");
    background-size: cover;
    height: 90vh;
    color: white;
    display: flex;
    align-items: center;
}
.ct1 .title{
    margin-top: 4%;
    font-size: 130px;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 20px;
}   
.ct1 p{
    max-width: 800px;
}
.ct1 button{
    background-color: #E98F45;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    display: block;
    margin-top: 20px;
    transition:background-color 0.3s ease;

}
.ct1 button:hover{
    background-color: #d87829;
}




    .content2{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 100px;
        background-color: #ffffff;
    }
    .small{
        background-color:#ffffff;
        color:#EB9045;
        font-size: 13px;
        font-weight: bold;
        border-radius: 15px;
        padding: 5px 10px;
    }
    h2{
        font-size: 40px;
    }
    .content2_1 p{
        max-width: 500px;
        padding-top: 20px;
    }
    .more{
        background-color: #ffd500;
        color: black;
        font-weight: bold;
        padding: 10px;
        border-radius: 20px;
        border: 1.5px solid rgb(148, 147, 147);
        transition:background-color 0.2s ease;
        margin-top: 30px;
    }
    .more:hover{
        background-color:#e69807;
        color:white;
    }
    .content2_2{
        background-color: white;
        width: 500px;
        border-radius: 10px;
    }
    .content2_2 ul{
        list-style-type: none;
    }
    .content2_2 ul li a{
        text-decoration: none;
        color: black;
        font-weight: bold;
        line-height: 60px;
        width:100%;
        display:block;
        border-bottom: 1px solid rgb(244, 242, 242);
        transition:background-color 0.3s ease;
    }
    .content2_2 ul li a:hover{
        background-color: #efefef;
    }
    .content2_2 i{
        padding: 0 10px;
        color:#E98F45;
}

.content3 {
     display: flex;
     flex-direction: column;
     align-items: center;
     flex-direction: column;
}

.Quality {
    flex-direction: column;
    justify-content: center;
}






